

main .account{
    width:100%;
    height:112px;
    background:#fff;
    margin-bottom:10px;
}
main .account .text{
    height:14px;
    margin-left:30px;
    padding-top:24px;
}
main .account .text img{
    padding-top:5px;
    float:left;
}
main .account .text h3{
    padding-left:9px;
    font-size: 14px;
    color:#000;
}
main .account .create{
    margin-left:30px;
    margin-top:37px;
}
main .account .create .loginName{
    width:92px;
    height:27px;
    border:1px solid #f4f4f4;
    border-radius: 4px;
    float:left;
}
main .create .loginName h3{
    font-size: 14px;
    font-weight:normal;
    padding-left:18px;
    line-height: 27px;
    float:left;
}
main .create .loginName img{
    padding-left:6px;
}
main .create input{
    width:186px;
    height:27px;
    border:1px solid #f4f4f4;
    border-radius: 4px;
    margin-left:8px;
}
main .create button{
    width:111px;
    height:29px;
    background:#4381e6;
    text-align: center;
    line-height:29px;
    margin-left:3px;
    border:none;
    outline: none;
    border-radius: 4px;
    color:#fff;
}
main .create .twoth{
    margin-left:64px;
}
main .create .threeth{
    margin-left:4px;
}
main .user{
    width:100%;
    background:#fff;

}
main .user .top{
    width:100%;
    height:74px;
    /*background: red;*/
}
main .user .top .person{
    margin-left:24px;
    margin-top:18px;
    float:left;
}
main .user .top img{
    float:left;
}
main .user .top h3{
    padding-left:8px;
    float:left;
    font-size:14px;
}
main .user .top .del{
    margin-top:24px;
    margin-right:28px;
    float:right;
}
main .user .top .del button{
    width:82px;
    height:30px;
    border-radius: 4px;
    background:#4381e6;
    border:none;
    outline: none;
    color:#fff;
}
main .user .top .del .de{
    margin-right:4px;
}
main .user .top .del .ref{
    background:#25cb77;
}
main .user .center{
    width:1097px;
    /*height:180px;*/
    margin-left:32px;
    margin-bottom:50px;
    position: relative;
    /*background:green;*/
}
main .user .center .fon{
    display: none;
    position:absolute;
    top:115px;
    left:480px;
}
main .user .center table{
    /*height: 180px;*/
    font-size:14px;
    border: 1px solid #f4f4f4;
}

main .user .center tr{
    width:1097px;
    display: flex;
    /*justify-content: space-between;*/
}
main .user .center td{
    height:56px;
    border: 1px solid #f4f4f4;
    text-align: center;
    line-height: 56px;
}
main .user .center input{
    display: inline;
    width:16px;
    height:16px;
    border-color:red;
}
main .user .center td button{
    width:80px;
    height:30px;
    background:#f9f9f9;
    border-radius: 2px;
    border:none;
}
main .user .center td:nth-child(1){
    border-left:0;
    width:60px;
}
main .user .center td:nth-child(2){
    width:108px;
}
main .user .center td:nth-child(3){
    width:97px;
}
main .user .center td:nth-child(4){
    width:97px;
}
main .user .center td:nth-child(5){
    width:78px;
}
main .user .center td:nth-child(6){
    width:191px;
}
main .user .center td:nth-child(7){
    width:158px;
}
main .user .center td:nth-child(8){
    width:157px;
}
main .user .center td:nth-child(9){
    width:158px;
    border-right:0;
}

main .user .bot{
    width:1097px;
    height:78px;
    margin-left:32px;
    /*background:blue;*/
}

main .user .bot .page{
    display:flex;
    justify-content: center;
}
main .user .bot .page ul{
    list-style: none;
}
main .user .bot .page ul li{
    width:27px;
    height:27px;
    margin-right:9px;
    text-align: center;
    line-height: 27px;
    border:1px solid #f4f4f4;
    border-radius: 4px;
    float:left;
}
main .user .bot .page .pre{
    width:96px;
    height:27px;
    border:1px solid #f4f4f4;
    border-radius: 4px;
}
main .user .bot .page .nex{
    width:96px;
    height:27px;
    border:1px solid #f4f4f4;
    border-radius: 4px;
}
main .user .bot .page .las{
    width:79px;
    height:27px;
    border:1px solid #f4f4f4;
    border-radius: 4px;
    margin-left:9px;
}
main .user .bot .page ul li:nth-child(1){
    margin-left:9px;
}
main .user .bot .page ul li:nth-child(4){
    border:none;
}





footer {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

footer p {
    font-size: 12px;
    color: rgba(0, 0, 0, .4);
}
.zgl_tc{
    width:394px;
    height:191px;
    background: #ffffff;
    box-shadow: 0 0 0 1600px rgba(0,0,0,0.8);
    border-radius: 4px;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    display: none;
}
.zgl_tc .zgl_top{
    width:100%;
    height:40px;
    border-bottom: 1px solid #f4f4f4;
    line-height:40px;
}
.zgl_tc .zgl_top span{
    text-align: center;
    font-size: 14px;
    margin-left:20px;
    color: #585858;
    float:left;
}
.zgl_tc .zgl_top .del{
    float:right;
    margin-right:20px;
    width:11px;
    height:12px;
    margin-top:14px;
}
.zgl_tc .zgl_bottom{
    width:100%;
    height:151px;
}
.zgl_tc .zgl_bottom .zgl_1{
    width:100%;
    height:50.5px;
    line-height:50.5px;
}
.zgl_tc .zgl_bottom .one{
    margin-top: 20px;
}
.zgl_tc .zgl_bottom .zgl_1 img{
    width:10px;
    height:10px;
    margin-left:50px;
    float:left;
    margin-top:20.25px;
    margin-right:8px;
}
.zgl_tc .zgl_bottom .zgl_1 p{
    font-size: 14px;
    color: rgba(0,0,0,0.4);
    float:left;
}
.zgl_tc .zgl_bottom .zgl_1 .an{
    width:82px;
    height:30px;
    background: #4381e6;
    border-radius: 4px;
    float: right;
    font-size: 14px;
    color:#fff;
    margin-right:55px;
    margin-top:10.25px;
    text-align: center;
    line-height:30px;
}
.zgl_xj{
    width:323px;
    height:435px;
    background: #ffffff;
    box-shadow: 0 0 0 1600px rgba(0,0,0,0.8);
    border-radius: 4px;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    display: none;
}
.zgl_xj .xj_top{
    width:100%;
    height:40px;
    line-height:40px;
    border-bottom:1px solid #f4f4f4;
}
.zgl_xj .xj_top span{
    color:#585858;
    margin-left:20px;
    flaot:left;
}
.zgl_xj .xj_top img{
    float:right;
    margin-right:20px;
    width:11px;
    height:12px;
    margin-top:14px;
}
.zgl_xj .xj_list{
    width:100%;
    margin-top: 26px;
}
.zgl_xj .xj_list .xj_son{
    width:100%;
    height:30px;
    margin-top: 10px;
    line-height:30px;
}
.zgl_xj .xj_list .xj_son span{
    font-size: 14px;
    margin-left:37px;
    color:#8d8d8d;
}
.zgl_xj .xj_list .xj_son input{
    width:176px;
    height:100%;
    border-radius:4px;
    outline: none;
    border:1px solid #f4f4f4;
    float:right;
    margin-right:37px;
}
.zgl_xj .xj_bottom{
    width:100%;
    margin-top: 26px;
}
.zgl_xj .xj_bottom .xj_an{
    width:82px;
    height:30px;
    float:left;
    border-radius:4px;
    text-align: center;
    line-height:30px;
}
.zgl_xj .xj_bottom .xj_an:nth-child(1){
    margin-left:71px;
    background: #4d88e7;
    color:#fff;
}
.zgl_xj .xj_bottom .xj_an:nth-child(2){
    margin-left:17px;
    border:1px solid #f4f4f4;
    color:#b8b8b8;
}

