

main .serve{
    width:100%;
    height:529px;
    background:#fff;
    display:flex;
    flex-direction: column;
}
main .serve .buy{
    margin-left:30px;
    margin-top:22px;
    font-size:14px;
}
main .serve img{
    margin-top:5px;
    float:left;
 }
main .serve h3{
    padding-left:10px;
}
main .serve .time{
    font-size: 14px;
    margin-top:24px;
    margin-left:30px;
    margin-bottom: 20px;
}
main .serve .time h3{
    float:left;
}
main .serve .time .price{
    width:130px;
    height:130px;
    border:1px solid #f4f4f4;
    border-radius: 4px;
    text-align: center;
    margin-left:20px;
    float:left;
}
main .serve .time .price h4{
    padding-top:8px;
    font-size: 56px;
    color:#25cb77;
}
main .serve .time .price span{
    font-size: 14px;
    color:#25cb77;
}
main .serve .date{
    font-size: 14px;
    margin-left:30px;
    margin-bottom: 20px;
}
main .serve .date h3{
    /*font-weight:normal;*/
    float:left;
}
main .serve .date h4{
    font-weight:normal;
    float:left;
}
main .serve .date .dat{
    margin-left:20px;
    float:left;
}
main .serve .date .rq{
    width:130px;
    height:27px;
    line-height:27px;
    border:1px solid #f4f4f4;
    border-radius: 4px;
    padding-left:24px;
}
main .serve .date img{
    margin-top:10px;
    margin-left:10px;
}
main .serve .date .slec{
    margin-top:10px;
}
main .serve .date .stop{
    float:left;
    margin-left:54px;
}
main .serve .scale{
    font-size: 14px;
    margin-left:30px;
}
main .serve .scale h3{
    float:left;
}
main .serve .scale input{
    width:74px;
    height:27px;
    text-align: center;
    line-height: 27px;
    border:1px solid #f4f4f4;
    border-radius: 4px;
    margin-left:20px;
}
main .serve .scale input::-webkit-input-placeholder{
    color:#000;
}
main .serve .scale span{
    padding-left:35px;
    font-size: 14px;
}

/*服务价格*/
main .pri{
    font-size: 14px;
    margin-left:30px;
    margin-top:26px;
    margin-bottom: 20px;
}
main .pri h3{
    float:left;
}
main .pri .in{
    float:left;
    padding-left:20px;
    margin-top:-14px;
}
main .pri .in input{
    margin-top:10px;
}
main .pri h4{
    font-weight: normal;

}
main .pri h4 span{
    font-size: 35px;
    color:#25cb77;
}
main .pri h5{
    padding-left:214px;
    font-size:14px;
    font-weight: normal;
}
main .pri h5 span{
    font-size:14px;
    color:#25cb77;
}

main .next{
    width:110px;
    height:29px;
    color:#fff;
    font-size: 14px;
    background:#4381e6;
    border-radius: 4px;
    border:none;
    outline: none;
    margin-left:126px;
    margin-top:24px;
}


footer {
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

footer p {
    font-size: 12px;
    color: rgba(0, 0, 0, .4);
}